body{
	background-image:url(../image/white.jpg);
	background-size:1200px 660px;
	background-repeat:no repeat;
}
caption{
margin-left:-25px;
font-family:fantasy;
font-weight:bold;
font-size:35px;
}
table{
position:relative;
z-index:2;
margin-top:15%;
left:50%;
transform:translate(-50%,-50%);
width:70%;
border:2px solid #000000;
overflow:hidden;
text-align:center;
background:rgb(255,255,255,0.2);
}
th,td{
padding:11px 13px;
}
td{
background:rgb(255,255,255,0.6);
}
th{
background:rgb(255,255,255,0.8);
}


